fastapi
uvicorn
python-dotenv
openai
chromadb
pydantic
email-validator
sqlalchemy
psycopg[binary]
python-multipart
opencv-python
ultralytics
pillow
pillow-heif
python-jose[cryptography]
passlib[bcrypt]
google-auth
google-auth-oauthlib
httpx
